.overall{
    font-variant: small-caps;
}
/* .background-image {
    background-image: url('https://i.ibb.co/MNCDGSH/FULLPAGE2-png.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
} */

/* .background-image {
    background-image: url('https://i.ibb.co/MNCDGSH/FULLPAGE2-png.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
} */




